body {
    margin: 0;
    height: 100vh;
    font-family: "Cascadia Code", serif;
    background: #1a2639;
}

canvas {
    z-index: 0;
    display: block;
    float:right;
}

/* The side panel menu */
.sidepanel {
    height: 100vh; /* Specify a height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    float: left;
    top: 0;
    left: 0;
    background: linear-gradient(to top right, #8A261C, #B2482E);
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Cascadia Code", serif;
}

.sidepanel p, a, label {
    text-decoration: none;
    font-size: 16px;
    font-family: "Cascadia Code", serif;
    color: #f0f0f0;
    transition: 0.3s;
}

/* The side panel text */
.sidepanel p {
    margin: 0 0;
}

.moveCamera {
    float: left;
    width: 13%;
    margin: 2px;
}

.orbitBox {
    float: left;
}

.orbitToggle {
    display: inline-block;
}

input[type="number"] {
    width: 50px;
    font-family: "Cascadia Code", serif;
}
input[type="submit"] {
    font-family: "Cascadia Code", serif;
}

.sidepanel button {
    display: inline;
}

.stopStart {
    font-family: "Cascadia Code", serif;

    font-size: 25px;
}