body {
    margin: 0;
    height: 100vh;
    font-family: "Cascadia Code", serif;
}

canvas {
    z-index: 0;
    display: block;
    float:right;
}

/* The sidepanel menu */
.sidepanel {
    height: 100vh; /* Specify a height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    float: left;
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    font-family: "Cascadia Code", serif;
}

.sidepanel p, a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Cascadia Code", serif;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

/* The sidepanel text */
.sidepanel p {
    margin: 0 0;
    padding: 2px 8px 0 8px;
}

.sidepanel a {
    padding: 8px 8px 8px 8px;
}

.sidepanel button {
    display: inline;
}

.sidepanel label {

}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidepanel .stopStart {
    position: absolute;
    font-family: "Cascadia Code", serif;
    top: 25px;
    left: 32px;
    font-size: 25px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    display: inline-block;
    font-family: "Cascadia Code", serif;
}

.openbtn:hover {
    background-color: #444;
}